/* STARTER CODE BELOW */

:root {
  --blue: #418FDE;
  --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --opacity: 0.8;
}

body {
  line-height: 1.5;
  background-color: #f0f5fa;
}

header {
  font-family: var(--font);
  background-color: #a3c2e0;
  color: var(--blue);
  position: sticky;
  z-index: +1;
  top: 0.5px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: hsla(221, 91%, 26%, 0.15);
  padding: 0 10px 0 50px;
}

header h1 .n-Ib {
  color: white;
}

header nav {
  padding-top: 10px;
  margin-right: 20px;
  float: right;
  font-family: var(--font);
  font-size: 25px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

nav a:visited {
  color:var(--blue);
}

nav a:hover {
  color: white;
  background-color:var(--blue);
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: white;
}

/* hero banner */
.hero-banner {
  background-image: url("../assets/images/02-hero-bg.jpg");
  height: max-content;
  width: 100%;
  height: 150px;
  background-size: cover;
  position: relative;
}

.hero-banner h2 {
  color: white;
  font-size: 48px;
  background-color: hsla(290, 60%, 70%, 0.5);
  padding: 0 10px 0 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}


/* about-me */

.sub-heading {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 95%;
  padding: 10px;
}

.sub-heading img {
  border-radius: 5px;
  max-width: 8%;
  height: auto;
  padding: 10px;
  margin: 10px;
}

.sub-heading-text {
  font-family: var(--font);
  font-size: 30px;
  font-weight: bolder;
  border-right: solid #2477cb;
  border-width: thin medium;
  color: #1168bf;
  position: relative;
}

.sub-heading-description {
  font-size: 18px;
  font-family: var(--font);
  color: #2477cb;
}

/* portfolio container */

#WorkGrid {
  flex-grow: 25;
  height: 700px;
  display: grid;
  margin: 0px 3%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "Flower-Garden Flower-Garden"
    "Flower-Garden Flower-Garden"
    "Flower-Garden Flower-Garden"
    "LED-Wall Calculator"
    "Pastel-Puzzles Run-Buddy";
}

#Flower-Garden {
  grid-area: Flower-Garden;
  background-image: url("../assets/images/flower-garden.png");
  opacity: var(--opacity);
}

#LED-Wall {
  grid-area: LED-Wall;
  background-image: url("../assets/images/02-portfolio-1.jpg");
  opacity: var(--opacity);
}

#Calculator {
  grid-area: Calculator;
  background-image: url("../assets/images/cost-calculator.png");
  opacity: var(--opacity);
}

#Pastel-Puzzles {
  grid-area: Pastel-Puzzles;
  background-image: url("../assets/images/02-portfolio-3.jpg");
  opacity: var(--opacity);
}


#Run-Buddy {
  grid-area: Run-Buddy;
  background-image: url("../assets/images/02-run-buddy.jpg");
  opacity: var(--opacity);
}

.WorkGridArea {
  background-position: center;
  border: 5px solid skyblue;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.WorkGridArea+img:hover {
  color: yellow;
  transition: 0.2s;
}

.portfolio-text {
  background-color: skyblue;
  height: fit-content;
  width: fit-content;
  font-family: var(--font);
}

.portfolio-text h3 {
  font-weight: bolder;
}

.portfolio-text h4 {
  font-weight: 200;
}

/* sub-heading */

.sub-heading a {
  color:var(--blue);
  font-weight: bold;
  font-family: var(--font);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  text-decoration-line: underline;
  text-decoration-style: solidvar(--blue);
  text-underline-offset: 10px;
}

.sub-heading a:hover {
  color: #053769;
}

.sub-heading a:visited {
  text-decoration: none;
}

/* media queries */

@media only screen and (max-width:980px) {

  .header {
    position: static;
  }

  #WorkGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "Flower-Garden"
      "Flower-Garden"
      "Flower-Garden"
      "LED-Wall"
      "Calculator"
      "Pastel-Puzzles"
      "Run-Buddy";
  }

  .sub-heading img {
    min-height: auto;
    min-width: auto;
  }

  header nav {
    display: none;
  }

.sub-heading a {
  font-size: 20px;
}

}

/*           <a href="./Previous-work/Flower_garden/Flower_garden.html"></a>
*/